.confg_problem_box{
    padding: 80px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    max-width: 1100px;
    justify-items: center;
    gap: 40px;
    margin: 0 auto;
}