.input_box{
    display: flex;
    flex-direction: column;
    max-width: 280px;
    gap: 8px;
    width: 100%;
}

.header_input_box{
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: flex-end;
}

.label_box{
    display: flex;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    gap: 6px;
}

.letter_label{
    font-weight: 800;
    color: var(--color-blue-2);
}

.min_label{
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}

.input{
    font-family: 'Maven Pro', sans-serif;
    border-radius: 8px;
    background-color: transparent;
    padding: 7px 12px;
    font-weight: 600;
    transition: 200ms;
    border: 2px solid rgba(82, 82, 83, 0.50);
    color: var(--color-text-2);
    outline: none;
}

.input::placeholder{
    color: var(--color-text-4);
}

.input:focus, .input:hover{
    border: 2px solid var(--color-blue-1);
}

.input.error{
    border: 2px solid var(--color-error-1);
}

.input.passed{
    border: 2px solid var(--color-green-1);
}