.result_problem_box{
    padding: 80px 10px 0px;
    max-width: 1100px;
    margin: 0 auto;
}

.result_one{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.values_default_box{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.best_point_box, .graph_gen_box, .values_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.best_point_box > h5, .graph_gen_box > h5, .values_box > h5{
    font-size: 15px;
    color: var(--color-text-3);
}

.best_point_values_box, .values_inside_box{
    background-color: var(--background-color-4);
    border-radius: 14px;
    min-width: 220px;
    min-height: 180px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 26px 26px 45px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.values_inside_box{
    min-height: 160px;
}

.children_box_best_point, .children_box_value{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}

.children_box_value{
    gap: 22px;
}

.variable_best_point, .variable_value{
    color: var(--color-blue-4);
    font-size: 16px;
    font-weight: 700;
}

.result_best_point, .result_value{
    font-size: 26px;
    position: relative;
    font-weight: 700;
}

.result_value{
    font-size: 22px;
}

.x_best_point{
    position: relative;
    font-size: 17px;
    color: var(--color-text-3);
    font-weight: 700;
}

.result_best_point::before, .x_best_point::before, .result_value::before{
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0px;
    width: 75%;
    height: 2px;
    background-color: var(--color-stroke-2);
}

.graph_gen_box{
    flex: 1;
    max-width: 800px;
}

.graph_gen_values_box{
    background-color: var(--background-color-4);
    border-radius: 14px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    min-height: 300px;
    max-height: 500px;
    padding: 26px 26px 40px;
}