.problems_list_box{
    margin: 0 auto;
    padding: 5px 25px 0px;
}

.options_box{
    padding: 20px 15px;
    background-color: var(--background-color-2);
    display: flex;
    max-width: var(--max-width-section-2);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    gap: 10px;
}

.search_problems_box{
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0px 0px 6px 0px;
}

.search_problems_box::before{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 15px;
    background-color: var(--color-stroke);
    content: '';
    height: 1px;
}

.search_problems_box::after{
    position: absolute;
    bottom: 0px;
    left: 35px;
    width: 100px;
    background-color: var(--color-stroke);
    content: '';
    height: 1px;
}

.search_problems_box > svg{
    font-size: 17px;
    color: #414141dc;
}

.search_problems_box > input{
    font-size: 14px;
    padding: 6px 0px;
    font-weight: 500;
    outline: none;
    max-width: 140px;
    border: none;
    background-color: transparent;
}

.search_problems_box > input::placeholder{
    color: #23232380;
}

.problems_box{
    margin: 70px 0px 40px;
}

.title_type_problem_box{
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
}

.title_type_problem_box > span{
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.title_type_problem_box > span::before{
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--color-blue-1);
}

.title_type_problem_box > div{
    flex: 1;
    background-color: var(--color-stroke-3);
    height: 2px;
}

.problems_list{
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 30px;
    margin: 0 auto;
}

.card_problem{
    padding: 14px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 8px;
    height: 160px;
    background-color: var(--background-color-7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 200ms;
    user-select: none;
    cursor: pointer;
    --color-current: var(--color-blue-1);
}

.card_problem:hover, .card_problem:focus{
    --color-current: var(--color-blue-2);
    background-color: #d6d8e3;
}

.card_title_box{
    margin-bottom: 12px;
    gap: 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card_title_box > h5{
    word-wrap: break-word;
    padding-bottom: 6px;
    height: 40px;
    overflow-y: hidden;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}

.card_title_box > svg{
    flex-shrink: 0;
    color: var(--color-current);
}

.card_abouts_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card_about_box{
    display: flex;
    gap: 6px;
}

.card_about_box > span:first-of-type{
    font-size: 13px;
    color: var(--color-blue-2);
    font-weight: 500;
}

.card_about_box > span:last-of-type{
    font-size: 13px;
    font-weight: 500;
}

.card_actions_box{
    display: flex;
    gap: 10px;
    justify-self: flex-end
}

.card_actions_box > svg{
    font-size: 16px;
    color: var(--color-blue-1);
}

.card_actions_box > svg:hover{
    color: var(--color-blue-2);
}

.card_actions_box > svg.trash{
    color: var(--color-error-1);
}

.card_actions_box > svg.trash:hover{
    color: var(--color-error-2);
}

/* MOBILE MODE */

@media (max-width: 550px) {
    
    .options_box{
        flex-direction: column;
        gap: 20px;
    }

    .problems_box{
        margin: 50px 0px 40px;
    }

    .title_type_problem_box > span{
        font-size: 13px;
    }

    .problems_list{
        justify-content: center;
    }

    .card_title_box > h5{
        font-size: 14px;
    }
}